<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Create New Tab</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Create New Tab</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<div class="well">
				
				 <FORM method="post">
    <P>
    <LABEL for="firstname">First name: </LABEL>
              <INPUT type="text" id="firstname" name="user[firstname]"><BR>
    <LABEL for="lastname">Last name: </LABEL>
              <INPUT type="text" id="lastname" name="user[lastname]"><BR>
    <LABEL for="email" >email: </LABEL>
              <INPUT type="text" id="email" name="user[mail]"><BR>
    </P>
    <INPUT type="submit" value="Send"> <INPUT type="reset">
 </FORM>
				
				
				
				
				

			</div>
		</div>

	</div>




</div>
</body>
</html>